[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "==3.7.4.post0"
appdirs = "==1.4.4"
async-timeout = "==3.0.1"
attrs = "==20.3.0"
chardet = "==4.0.0"
discord-py-slash-command = "==1.1.2"
"discord.py" = "==1.7.2"
filelock = "==3.0.12"
idna = "==2.5"
multidict = "==5.1.0"
python-dotenv = "==0.17.1"
pytz = "==2021.1"
typing-extensions = "==3.10.0.0"
uritools = "==3.0.2"
urlextract = "==1.2.0"
yarl = "==1.6.3"
asyncpg = "*"
asyncinit = "*"
requests = "*"

[dev-packages]
black = {extras = ["d"], version = "==21.6b0"}

[requires]
python_version = "3.8"
